@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                 Banner-part
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.banner{
  width: 1320px;
  height: 600px;
  background-image: url("image/Banner\ Image.png");
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin:50px auto 120px;
}


.container{
  border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-details {
  color: #fff;
  text-align: center;
  padding-top: 177px;

}
.banner-details h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
.banner-details p {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; 
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                 Offer-part
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.offer-section {
  background-color: #fff;
}
.offer-container {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.btn-color {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.offer-title {
  margin-top: 48px;
  color: #f00;
  font-size: 24px;
}
.offer-description {
  color: #070211;
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 48px;
}
.photo {
  margin: auto;
  width: 800px;
  height: 500px;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                 Party-part
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.party-banner {
  background-image: url("image/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  margin: 0 140px;
}

.party-banner-container {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-bottom: 126px;
}
.party-banner-text {
  margin-bottom: 126px;
  color: #fff;
}
